{% extends 'base.html' %}
{% block content %}
  <div>
    <p style='font-size:50px' calss='text-decoration-none', class='p-5 text-primary'>NEW</p>
    <br>
  </div>
  <br>
  <div>
    <form action="{% url 'articles:create' %}", method='POST' class='p-5 text-primary'>
      {% csrf_token %}
      <label for="title">TITLE : </label>
      <input type="text", id='title', name='title'>
      <br><br>
      <label for="content">CONTENT : </label>
      <textarea type="text", id='content', name='content', cols=50, rows=10></textarea>
      <br><br>
      <input type="submit" value='작성'>
    </form>
    <a href="{% url 'articles:index' %}" class='p-5 text-primary text-decoration-none'>BACK</a>
  </div>
{% endblock content %}