{% extends 'base.html' %}
{% block content %}
  <h1 class='p-3, m-3 bg-lightgrey text-primary'>ARTICLES' INDEX PAGE</h1>
  <h1 class='p-3, m-3 bg-lightgrey text-primary'>{{articles}}</h1>
  <a href="{% url 'articles:new' %}", method='GET', class='p-3, m-3 text-black', style="font-size : 46px"">NEW로 이동</a>
  {% for article in articles %}
    <a href="{% url 'articles:detail' article.pk %}">{{article.pk}} {{article.title}}</a>
    <h1 class='px-3, mx-3 bg-lightgrey text-primary'>제목 : {{article.title}}</h1><br>
    <h2 class='px-3, mx-3 bg-lightgrey text-primary'>내용 : {{article.content}}</h2><br>
    <h3 class='px-3, mx-3 bg-lightgrey text-primary'>작성 일자 : {{article.create_at}}</h3><br>
    <h4 class='px-3, mx-3 bg-lightgrey text-primary'>수정 일자 : {{article.update_at}}</h4><br>
    <hr>
  {% endfor %}
{% endblock content %}